/* Estilos generales */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfe0f1;
    /* Fondo gris claro */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Fondo gris claro */
}

.login-content {
    height: auto;
    max-width: 1000px;
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(13, 27, 228, 0.2);
    display: flex;
    margin-top: -410px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002652;
    /* Azul oscuro */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.form-container {
    flex: 1;
    padding: 20px;
}

.card {
    width: 100%;
    border-color:#ff650c7c ;
    box-shadow: #002652;
    background-color: aliceblue;
}

.card-header {
    background-color: #ff640c;
    /* Naranja */
    color: #ffffff;
    /* Texto blanco */

    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 10px 15px rgba(13, 27, 228, 0.2);
}

.card-body {
    padding: 20px;
    border-color: #e3560e;
}

.btn-primary {
    background-color: #ff640c;
    /* Naranja */
    border: none;
}

.btn-primary:hover {
    background-color: #e3560e;
    /* Naranja más oscuro al pasar el ratón */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .login-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .image-container {
        display: none;
    }

    .form-container {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
/* Estilos para el navbar principal */
.navbar.bg-custom {
    background-color: #002652;
    height: 50px;
}

/* Estilos para el Offcanvas Body */
.offcanvas-body {
    background-color: #002652;
    color: #fff;
}

/* Estilos para el icono SVG en el botón cerrar */
.btn-close svg {
    fill: #ffffff;
    /* Color blanco para el icono SVG */
}

.offcanvas-header {
    background-color: #ff640c;
    color: #fff;
}

/* Estilo para el enlace activo */
.navbar-dark .navbar-nav .nav-link-active {
    color: orange;
}

/* Estilos para el menú principal */
.navbar-dark .navbar-nav .nav-link {
    color: white;
    /* Estilo para el texto del menú principal */
}

/* Estilos para el enlace del menú principal en hover */
.navbar-dark .navbar-nav .nav-link:hover {
    color: yellow;
}

/* Estilos para los submenús */
.secondary-navigation .navbar-nav .nav-link.submenu {
    color: black;
    /* Estilo para el texto de los submenús */
}

/* Estilos para el submenú en hover */
.secondary-navigation .navbar-nav .nav-link.submenu:hover {
    color: #002652;
    /* Estilo para el texto de los submenús cuando están en hover */
}
